*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 100vw;
    overflow-x: hidden;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 12%);
    padding: 0 30vw;
    margin: 80px 0;
    line-height: 1.4;
}

a {
    color: hsl(0, 0%, 12%);
}

a:visited {
    color: hsl(0, 0%, 12%);
}

img {
    border-radius: 20px;
}

h1,
h2,
.container  {
    text-align: center;
    margin: 40px 0;
}

.container {
    overflow: hidden;
}

h1 {
    font-size: 80px;
}


